__pycache__/
*.py[cod]
*.ipynb_checkpoints
.env/
.venv/
data/raw/*
data/processed/processed_data.csv
data/processed/text_processed_data.csv
data/external/*
*.log
*.out
*.bak
.DS_Store
Thumbs.db
.env

# large data files
/data/final_model_dataset.csv

data/*.csv
*.parquet

.streamlit/secrets.toml
.streamlit/secrets.toml
